<tr class="p-4">
  <td class="col-1">{{codigo}}</td>
  <td class="col-4">{{descricao}}</td>
  <td class="col-2">{{cor}}</td>
  <td class="col-2">{{armazenamento}}</td>
  <td class="col-2">{{emai}}</td>
  <td class="col-1"><span class="badge bg-success">{{valor}}</span></td>
  <td class="col-1">
                                    <span class="badge bg-danger">
                                        <a href="{{URL}}/admin/removeTroca/{{codCred}}">
                                            <i class="fa fa-trash" aria-hidden="true"></i>
                                        </a>
                                    </span>
  </td>
</tr>