<tr data-widget="expandable-table" aria-expanded="false">

    <td>{{data}}</td>

    <td><span class="badge bg-warning" style="font-size: 10pt">{{dinheiro}}</span></td>

    <td><span class="badge bg-primary" style="font-size: 10pt">{{credito}}</span></td>

    <td><span class="badge bg-danger" style="font-size: 10pt">{{abastecimento}}</span></td>

    <td><span class="badge bg-danger" style="font-size: 10pt">{{sangria}}</td>

    <td><span class="badge bg-warning" style="font-size: 10pt">{{quitados}}</td>

    <td>
        <span
            onclick="abrirModal('{{dinheiro}}', '{{sangria}}', '{{credito}}', '{{abastecimento}}', '{{debito}}', '{{quitados}}', '{{total}}', '{{debitoR}}', '{{obs}}')"
            class="badge bg-success" style="font-size: 10pt; cursor: pointer">
            <i class="fas fa fa-eye"></i>
        </span>

        
   
        <a i onclick="abrirModal2('{{codigo}}')">
            <span class="badge bg-danger" style="font-size: 10pt; cursor: pointer">
                <i class="fa fa-trash"></i>
            </span>
        </a>
        

    </td>


</tr>