<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <title>The Way Sistemas</title>
    <meta name="description" content="" />
    <meta name="keywords" content="" />

    <!-- Favicons -->
    <link href="resources/view/pages/assets/img/favicon.png" rel="icon" />
    <link
      href="resources/view/pages/assets/img/apple-touch-icon.png"
      rel="apple-touch-icon"
    />

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com" rel="preconnect" />
    <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />

    <!-- Vendor CSS Files -->
    <link
      href="resources/view/pages/assets/vendor/bootstrap/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="resources/view/pages/assets/vendor/bootstrap-icons/bootstrap-icons.css"
      rel="stylesheet"
    />
    <link
      href="resources/view/pages/assets/vendor/aos/aos.css"
      rel="stylesheet"
    />
    <link
      href="resources/view/pages/assets/vendor/fontawesome-free/css/all.min.css"
      rel="stylesheet"
    />
    <link
      href="resources/view/pages/assets/vendor/glightbox/css/glightbox.min.css"
      rel="stylesheet"
    />
    <link
      href="resources/view/pages/assets/vendor/swiper/swiper-bundle.min.css"
      rel="stylesheet"
    />

    <!-- Main CSS File -->
    <link href="resources/view/pages/assets/css/main.css" rel="stylesheet" />
  </head>

  <body class="contact-page">
    <header id="header" class="header d-flex align-items-center sticky-top">
      <div
        class="container-fluid container-xl position-relative d-flex align-items-center"
      >
        <a href="/controle" class="logo d-flex align-items-center me-auto">
          <!-- Uncomment the line below if you also wish to use an image logo -->
          <img src="resources/view/pages/assets/img/logo.png" alt="" />
           <img src="resources/view/pages/assets/img/descricao.png" alt="logomarca" >
        </a>

        <nav id="navmenu" class="navmenu">
          <ul>
            <li>
              <a href="/controle">Home<br /></a>
            </li>
            <li>
              <a href="segmentos">Segmentos<br /></a>
            </li>
            <li><a href="sobre">Sobre</a></li>
            <li><a href="ouvidoria" class="active">Ouvidoria</a></li>
          </ul>
          <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
        </nav>

        <a
          class="btn-getstarted"
          target="_blank"
          rel="noopener noreferrer"
          href="https://wa.me/558888441448?text=Olá%2C%20quero%20solicitar%20orçamento"
          >Contate-nos</a
        >
      </div>
    </header>

    <main class="main">
      <!-- Page Title -->
      <div
        class="page-title dark-background"
        data-aos="fade"
        style="
          background-image: url(resources/view/pages/assets/img/page-title-bg.jpg);
        "
      >
        <div class="container position-relative">
          <h1>Ouvidoria</h1>
          <p class="fw-bold">
            A Ouvidoria é um canal exclusivo para receber sugestões, elogios,
            reclamações ou denúncias sobre nossos serviços. Nosso compromisso é
            ouvir você com atenção, garantir a confidencialidade e buscar
            soluções com transparência e responsabilidade.
          </p>
          <nav class="breadcrumbs">
            <ol>
              <li><a href="/controle" class="fw-bold">Home</a></li>
              <li class="current fw-bold">Ouvidoria</li>
            </ol>
          </nav>
        </div>
      </div>
      <!-- End Page Title -->

      <!-- Contact Section -->
      <section id="contact" class="contact section">
        <div class="container" data-aos="fade-up" data-aos-delay="100">
          <div class="mb-4" data-aos="fade-up" data-aos-delay="200">
            <iframe
              style="border: 0; width: 100%; height: 270px"
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d23047.507993180643!2d-39.32451908979648!3d-7.209323543727786!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x7a1820871075551%3A0x178d4827b6d1f5cc!2sThe%20Way%20Sistemas!5e0!3m2!1sen!2sbr!4v1751467091739!5m2!1sen!2sbr"
              frameborder="0"
              allowfullscreen=""
              loading="lazy"
              referrerpolicy="no-referrer-when-downgrade"
            ></iframe>
          </div>
          <!-- End Google Maps -->

          <div class="row gy-4">
            <div class="col-lg-4">
              <div
                class="info-item d-flex"
                data-aos="fade-up"
                data-aos-delay="300"
              >
                <i class="bi bi-geo-alt flex-shrink-0"></i>
                <div>
                  <h3>Endereço</h3>
                  <p>
                    R. Leão XIII, 437 - Salesianos, Juazeiro do Norte - CE,
                    63050-030
                  </p>
                </div>
              </div>
              <!-- End Info Item -->

              <div
                class="info-item d-flex"
                data-aos="fade-up"
                data-aos-delay="400"
              >
                <i class="bi bi-telephone flex-shrink-0"></i>
                <div>
                  <h3>Telefone</h3>
                  <p>+55 (88) 3571-1486</p>
                </div>
              </div>
              <!-- End Info Item -->

              <div
                class="info-item d-flex"
                data-aos="fade-up"
                data-aos-delay="500"
              >
                <i class="bi bi-envelope flex-shrink-0"></i>
                <div>
                  <h3>Email</h3>
                  <p>contato@thewaysistemas.com</p>
                </div>
              </div>
              <!-- End Info Item -->
            </div>

            <div class="col-lg-8">
              <form
                action="forms/contact.php"
                method="post"
                class="php-email-form"
                data-aos="fade-up"
                data-aos-delay="200"
              >
                <div class="row gy-4">
                  <div class="col-md-6">
                    <input
                      type="text"
                      name="name"
                      class="form-control"
                      placeholder="Seu Nome"
                      required=""
                    />
                  </div>

                  <div class="col-md-6">
                    <input
                      type="email"
                      class="form-control"
                      name="email"
                      placeholder="Seu Email"
                      required=""
                    />
                  </div>

                  <div class="col-md-12">
                    <input
                      type="text"
                      class="form-control"
                      name="subject"
                      placeholder="Titulo"
                      required=""
                    />
                  </div>

                  <div class="col-md-12">
                    <textarea
                      class="form-control"
                      name="message"
                      rows="6"
                      placeholder="Mensagem"
                      required=""
                    ></textarea>
                  </div>

                  <div class="col-md-12 text-center">
                    <div class="loading">Carregando</div>
                    <div class="error-message"></div>
                    <div class="sent-message">Sua mensagem foi enviada!</div>

                    <button type="submit">Enviar</button>
                  </div>
                </div>
              </form>
            </div>
            <!-- End Contact Form -->
          </div>
        </div>
      </section>
      <!-- /Contact Section -->
    </main>

    <footer id="footer" class="footer dark-background">
      <div class="container footer-top">
        <div class="row gy-4">
          <div class="col-lg-5 col-md-12 footer-about">
            <a href="/controle" class="logo d-flex align-items-center">
              <span class="sitename">The Way Sistemas</span>
            </a>
            <p>
              Na The Way Sistemas, desenvolvemos soluções tecnológicas sob
              medida para o seu negócio. Combinamos inovação, agilidade e
              expertise em software para criar sistemas que automatizam
              processos, reduzem custos e aumentam a eficiência da sua empresa.
            </p>
            <div class="social-links d-flex mt-4">
              <a href=""><i class="bi bi-facebook"></i></a>
              <a href=""><i class="bi bi-instagram"></i></a>
              <a href=""><i class="bi bi-linkedin"></i></a>
            </div>
          </div>

          <div class="col-lg-2 col-6 footer-links">
            <h4>Links</h4>
            <ul>
              <li><a href="/controle">Home</a></li>
              <li><a href="segmentos">Segmentos</a></li>
              <li><a href="politica">Termos de serviços</a></li>
              <li><a href="politica">Política de privacidade</a></li>
            </ul>
          </div>

          <div
            class="col-lg-3 col-md-12 footer-contact text-center text-md-start"
          >
            <h4>Contatos</h4>
            <p>R. Leão XIII, 437</p>
            <p>Juazeiro do Norte - CE, 63050-030</p>
            <p>Brasil</p>
            <p class="mt-4">
              <strong>Telefone:</strong> <span>+55 (88) 3571-1486</span>
            </p>
            <p>
              <strong>Email:</strong> <span>contato@thewaysistemas.com</span>
            </p>
          </div>
        </div>
      </div>

      <div class="container copyright text-center mt-4">
        <p>
          © <span>Copyright</span>
          <strong class="px-1 sitename">The Way Sistemas</strong>
          <span>Todos os direitos reservados</span>
        </p>
        <div class="credits">Designed by The Way Sistemas</div>
      </div>
    </footer>

    <!-- Scroll Top -->
    <a
      href="#"
      id="scroll-top"
      class="scroll-top d-flex align-items-center justify-content-center"
      ><i class="bi bi-arrow-up-short"></i
    ></a>

    <!-- Preloader -->
    <div id="preloader"></div>

    <!-- Vendor JS Files -->
    <script src="resources/view/pages/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="resources/view/pages/assets/vendor/php-email-form/validate.js"></script>
    <script src="resources/view/pages/assets/vendor/aos/aos.js"></script>
    <script src="resources/view/pages/assets/vendor/purecounter/purecounter_vanilla.js"></script>
    <script src="resources/view/pages/assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="resources/view/pages/assets/vendor/swiper/swiper-bundle.min.js"></script>

    <!-- Main JS File -->
    <script src="resources/view/pages/assets/js/main.js"></script>
  </body>
</html>
