<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>The Way Sistemas</title>
  <meta name="description" content="">
  <meta name="keywords" content="">

  <!-- Favicons -->
  <link href="resources/view/pages/assets/img/favicon.png" rel="icon">
  <link href="resources/view/pages/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com" rel="preconnect">
  <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="resources/view/pages/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="resources/view/pages/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="resources/view/pages/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="resources/view/pages/assets/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
  <link href="resources/view/pages/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="resources/view/pages/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Main CSS File -->
  <link href="resources/view/pages/assets/css/main.css" rel="stylesheet">

</head>

<body class="index-page">

  <header id="header" class="header d-flex align-items-center sticky-top">
    <div class="container-fluid container-xl position-relative d-flex align-items-center">

      <a href="/controle" class="logo d-flex align-items-center me-auto">
        <!-- Uncomment the line below if you also wish to use an image logo -->
         <img src="resources/view/pages/assets/img/logo.png" alt="">
        <h1 class="sitename">The Way</h1>
        <h4 class="sitename">Sistemas</h4>
      </a>

      <nav id="navmenu" class="navmenu">
        <ul>
          <li><a href="/controle" class="active">Home<br></a></li>
          <li><a href="segmentos">Segmentos<br></a></li>
          <li><a href="sobre">Sobre</a></li>
          <li><a href="ouvidoria">Ouvidoria</a></li>
        </ul>
        <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
      </nav>

      <a class="btn-getstarted" href="https://wa.me/558888441448?text=Olá%2C%20quero%20solicitar%20orçamento">Contate-nos</a>

    </div>
  </header>

  <main class="main">

    <!-- Hero Section -->
    <section id="hero" class="hero section dark-background">

      <img src="resources/view/pages/assets/img/world-dotted-map.png" alt="" class="hero-bg" data-aos="fade-in">

      <div class="container">
        <div class="row gy-4 d-flex justify-content-between">
          <div class="col-lg-4 order-3 order-lg-2 d-flex flex-column justify-content-center">
            <h2 data-aos="fade-up">Seu Negócio Merece Soluções Sob Medida</h2>
            <h5 data-aos="fade-up" data-aos-delay="100">Desenvolvemos sistemas com foco em resultados reais</h5>
            
            

            

            <div class="row gy-4" data-aos="fade-up" data-aos-delay="300">

              

            </div>

          </div>

          <div class="col-lg-5 order-1 order-lg-2 hero-img" data-aos="zoom-out">
            <img src="resources/view/pages/assets/img/hero-img.svg" class="img-fluid mb-3 mb-lg-0" alt="">
          </div>

        </div>
      </div>

    </section><!-- /Hero Section -->
<section id="features" class="features section">
<!-- Section Title -->
      <div class="container section-title" data-aos="fade-up">
        <span>Conheça algumas funcionalidades<br></span>
        <h2>Conheça algumas funcionalidades:</h2>
      </div><!-- End Section Title -->
      <div class="container">

        <ul class="nav nav-tabs row  d-flex" data-aos="fade-up" data-aos-delay="100">
          <li class="nav-item col-3">
            <a class="nav-link active show" data-bs-toggle="tab" data-bs-target="#features-tab-1">
              <i class="bi bi-laptop"></i>
              <h4 class="d-none d-lg-block">PDV</h4>
            </a>
          </li>
          <li class="nav-item col-3">
            <a class="nav-link" data-bs-toggle="tab" data-bs-target="#features-tab-2">
              <i class="bi bi-file-earmark-text"></i>
              <h4 class="d-none d-lg-block">Fiscal</h4>
            </a>
          </li>
          <li class="nav-item col-3">
            <a class="nav-link" data-bs-toggle="tab" data-bs-target="#features-tab-3">
              <i class="bi bi-cash"></i>
              <h4 class="d-none d-lg-block">Financeiro</h4>
            </a>
          </li>
          <li class="nav-item col-3">
            <a class="nav-link" data-bs-toggle="tab" data-bs-target="#features-tab-4">
              <i class="bi bi-box"></i>
              <h4 class="d-none d-lg-block">Estoque</h4>
            </a>
          </li>
          
        </ul><!-- End Tab Nav -->

        <div class="tab-content" data-aos="fade-up" data-aos-delay="200">

          <div class="tab-pane fade active show" id="features-tab-1">
            <div class="row">
              <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
                <h3>Realize vendas em poucos cliques com um PDV intuitivo e de fácil utilização.</h3>
                
                <ul>
                  <li><i class="bi bi-check2-all"></i> <spab>PDV | Frente de caixa;</spab></li>
                  <li><i class="bi bi-check2-all"></i> <spab>Orçamento (pré-venda);​</spab></li>
                  <li><i class="bi bi-check2-all"></i> <spab>CPF e CNPJ do consumidor no cupom;</spab></li>
                  <li><i class="bi bi-check2-all"></i> <spab>Tabela de preços para atacado (leve X e pague Y);</spab></li>
                  <li><i class="bi bi-check2-all"></i> <spab>Recebimento de título de clientes direto do PDV;</spab></li>
                  <li><i class="bi bi-check2-all"></i> <spab>Alerta no PDV clientes em atraso;</spab></li>
                  <li><i class="bi bi-check2-all"></i> <spab>Pesquisa de estoque por empresa.</spab></li>
                </ul>
               
              </div>
              <div class="col-lg-6 order-1 order-lg-2 text-center">
                <img src="resources/view/pages/assets/img/pdv.jpg" alt="" class="img-fluid">
              </div>
            </div>
          </div><!-- End Tab Content Item -->

          <div class="tab-pane fade" id="features-tab-2">
            <div class="row">
              <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
                <h3>Emita documentos fiscais de maneira simples, rápida e prática.</h3>
                
                <ul>
                  <li><i class="bi bi-check2-all"></i> <span>Envio de e-mail da NFe com XML e DANFE anexados;</span></li>
                 <li><i class="bi bi-check2-all"></i> <span>Importa XML de compras;</span></li>
                 <li><i class="bi bi-check2-all"></i> <span>SPED fiscal;</span></li>
                 <li><i class="bi bi-check2-all"></i> <span>NF-e, NFC-e, CC-e, CF-e, MDF-e;</span></li>
                 <li><i class="bi bi-check2-all"></i> <span>Envio de XML para contabilidade por e-mail;</span></li>
                 <li><i class="bi bi-check2-all"></i> <span>Gestão de tributos de entradas e saídas por UF;</span></li>
                 <li><i class="bi bi-check2-all"></i> <span>Formação de custo de produtos.</span></li>
                </ul>
              </div>
              <div class="col-lg-6 order-1 order-lg-2 text-center">
                <img src="resources/view/pages/assets/img/fiscal.jpg" alt="" class="img-fluid">
              </div>
            </div>
          </div><!-- End Tab Content Item -->

          <div class="tab-pane fade" id="features-tab-3">
            <div class="row">
              <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
                <h3>Controle o fluxo financeiro de sua empresa sem dores de cabeça.</h3>
                
                <ul>
                  <li><i class="bi bi-check2-all"></i> <span>Contas a pagar e contas a receber;</span></li>
                  <li><i class="bi bi-check2-all"></i> <span>Fluxo de caixa;</span></li>
                  <li><i class="bi bi-check2-all"></i> <span>Plano de contas e centro de custos;</span></li>
                  <li><i class="bi bi-check2-all"></i> <span>Emissão de boletos bancários;</span></li>
                  <li><i class="bi bi-check2-all"></i> <span>Cartas e ficha de cobranças;</span></li>
                  <li><i class="bi bi-check2-all"></i> <span>Selecionar várias contas para o recebimento;</span></li>
                  <li><i class="bi bi-check2-all"></i> <span>Pagamento parcial de contas;</span></li>
                  <li><i class="bi bi-check2-all"></i> <span>Destaca clientes em atraso.</span></li>
                </ul>
              </div>
              <div class="col-lg-6 order-1 order-lg-2 text-center">
                <img src="resources/view/pages/assets/img/financeiro.jpg" alt="" class="img-fluid">
              </div>
            </div>
          </div><!-- End Tab Content Item -->

          <div class="tab-pane fade" id="features-tab-4">
            <div class="row">
              <div class="col-lg-6 order-2 order-lg-1 mt-3 mt-lg-0">
                <h3>Mantenha seu estoque organizado com o auxílio de nosso software.</h3>
                <ul>
                  <li><i class="bi bi-check2-all"></i> <span>Inventário de estoque/coletor de dados;</span></li>
                  <li><i class="bi bi-check2-all"></i> <span>Ajuste de estoque rápido;</span></li>
                  <li><i class="bi bi-check2-all"></i> <span>Controle por lote e vencimento;</span></li>
                  <li><i class="bi bi-check2-all"></i> <span>Entradas via XML NF-e;</span></li>
                  <li><i class="bi bi-check2-all"></i> <span>Devolução de vendas/carta de crédito;</span></li>
                  <li><i class="bi bi-check2-all"></i> <span>Emissão de etiquetas de preços personalizadas;</span></li>
                  <li><i class="bi bi-check2-all"></i> <span>Kit de produtos;</span></li>
                  <li><i class="bi bi-check2-all"></i> <span>Transferência de estoque entre matriz/filiais;</span></li>
                  <li><i class="bi bi-check2-all"></i> <span>Precificação por markup ou margem de lucro.</span></li>
                  
                
                </ul>
              </div>
              <div class="col-lg-6 order-1 order-lg-2 text-center">
                <img src="resources/view/pages/assets/img/estoque.jpg" alt="" class="img-fluid">
              </div>
            </div>
          </div><!-- End Tab Content Item -->

        </div>

      </div>

    </section><!-- /Features Section -->
   

    <!-- Call To Action Section -->
    <section id="call-to-action" class="call-to-action section dark-background">

      <img src="resources/view/pages/assets/img/cta-bg.jpg" alt="">

      <div class="container">
        <div class="row justify-content-center" data-aos="zoom-in" data-aos-delay="100">
          <div class="col-xl-10">
            <div class="text-center">
              <h3>Solicite seu orçamento gratuito</h3>
              <p>Nossa equipe técnica vai analisar suas necessidades e sugerir a melhor solução para automatizar processos, reduzir custos e aumentar a eficiência do seu negócio.</p>
              <a class="cta-btn" href="https://wa.me/558888441448?text=Olá%2C%20quero%20solicitar%20orçamento">Solicitar Orçamento</a>
            </div>
          </div>
        </div>
      </div>

    </section><!-- /Call To Action Section -->

    
     <!-- Services Section -->
    <section id="services" class="services section">

      <!-- Section Title -->
     <div class="container section-title" data-aos="fade-up">
        <span>Segmentos atendidos<br></span>
        <h2>Segmentos atendidos:</h2>
      </div><!-- End Section Title -->
      <div class="container">

      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
            <div class="service-item  position-relative">
              <div class="icon">
                <i class="bi bi-basket" style="color: #0dcaf0;"></i>
              </div>
              <a href="segmentos.html" class="stretched-link">
                <h3>Mercado</h3>
              </a>
              <p>Transforme sua loja com tecnologia. Nossos sistemas de gestão garantem controle de estoque, vendas e finanças em tempo real, para você focar no que realmente importa: vender mais e melhor.</p>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="bi bi-prescription2" style="color: #fd7e14;"></i>
              </div>
              <a href="segmentos.html" class="stretched-link">
                <h3>Farmácia</h3>
              </a>
              <p>Simplifique processos com um sistema completo: controle de estoque com validade e lote, integração com PBM, emissão de notas fiscais, controle de balcão e receitas, relatórios financeiros e muito mais.</p>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="bi bi-fork-knife" style="color: #20c997;"></i>
              </div>
              <a href="segmentos.html" class="stretched-link">
                <h3>Food</h3>
              </a>
              <p>Controle de pedidos, comandas eletrônicas, cardápio digital, estoque em tempo real, integração com delivery e controle financeiro em um único sistema.</p>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="400">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="bi bi-gear-wide" style="color: #df1529;"></i>
              </div>
              <a href="segmentos.html" class="stretched-link">
                <h3>Serviço</h3>
              </a>
              <p>Com o nosso sistema, você controla atendimentos, ordens de serviço, contratos, agendamentos, pagamentos e relatórios — tudo em um só lugar.</p>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="500">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="bi bi-hammer" style="color: #6610f2;"></i>
              </div>
              <a href="segmentos.html" class="stretched-link">
                <h3>Construção</h3>
              </a>
              <p>Nossa solução foi pensada para construtoras e empresas do setor que precisam de agilidade na gestão de obras, orçamentos, equipes, materiais, medições, contratos e fluxo financeiro.</p>
            </div>
          </div><!-- End Service Item -->

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="600">
            <div class="service-item position-relative">
              <div class="icon">
                <i class="bi bi-bag-check" style="color: #f3268c;"></i>
              </div>
              <a href="segmentos.html" class="stretched-link">
                <h3>Confecção</h3>
              </a>
              <p>enha controle total sobre produção, fichas técnicas, pedidos, estoque de matéria-prima, acabamento, custos e vendas em um sistema pensado para o setor de moda e vestuário.</p>
            </div>
          </div><!-- End Service Item -->

        </div>

      </div>

    </section><!-- /Services Section -->

<!-- Features 2 Section -->
    <section id="features-2" class="features-2 section">

    <div class="container section-title" data-aos="fade-up">
        <span>Aplicativos para decolar seu negócio<br></span>
        <h2>Aplicativos para decolar seu negócio:</h2>
      </div><!-- End Section Title -->
      <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row align-items-center">

          <div class="col-lg-4">

            <div class="feature-item text-end mb-5" data-aos="fade-right" data-aos-delay="200">
              <div class="d-flex align-items-center justify-content-end gap-4">
                <div class="feature-content">
                  <h3>FORÇA DE VENDAS</h3>
                </div>
                <div class="feature-icon flex-shrink-0">
                  <a data-bs-toggle="tab" data-bs-target="#features-tab-1"><i class="bi bi-display"></i></a>
                </div>
              </div>
            </div><!-- End .feature-item -->

            <div class="feature-item text-end mb-5" data-aos="fade-right" data-aos-delay="300">
              <div class="d-flex align-items-center justify-content-end gap-4">
                <div class="feature-content">
                  <h3>COLETOR DE DADOS</h3>
                </div>
                <div class="feature-icon flex-shrink-0">
                  <i class="bi bi-feather"></i>
                </div>
              </div>
            </div><!-- End .feature-item -->

            <div class="feature-item text-end" data-aos="fade-right" data-aos-delay="400">
              <div class="d-flex align-items-center justify-content-end gap-4">
                <div class="feature-content">
                  <h3>MONTAGEM DE CARREGAMENTOS</h3>
                </div>
                <div class="feature-icon flex-shrink-0">
                  <i class="bi bi-eye"></i>
                </div>
              </div>
            </div><!-- End .feature-item -->

          </div>

          <div class="col-lg-4" data-aos="zoom-in" data-aos-delay="200">
            <div class="phone-mockup text-center">
              <img src="resources/view/pages/assets/img/phone-app-screen.png" alt="Phone Mockup" class="img-fluid">
            </div>
          </div><!-- End Phone Mockup -->

          <div class="col-lg-4">

            <div class="feature-item mb-5" data-aos="fade-left" data-aos-delay="200">
              <div class="d-flex align-items-center gap-4">
                <div class="feature-icon flex-shrink-0">
                  <i class="bi bi-code-square"></i>
                </div>
                <div class="feature-content">
                  <h3>FORÇA DE VENDAS</h3>
                  <h5>Controle e gerencie suas vendas externas</h5>
                  <P><i class="bi bi-check2-all"></i> <spab>Venda externa off-line;</spab></P>
                  <P><i class="bi bi-check2-all"></i> <spab>Controle de comissões;</spab></P>
                  <P><i class="bi bi-check2-all"></i> <spab>Cadastro e consulta de clientes;</spab></P>
                  <P><i class="bi bi-check2-all"></i> <spab>Pedido de compra para clientes;</spab></P>
                  <P><i class="bi bi-check2-all"></i> <spab>Mobilidade utilizada ao seu favor;</spab></P>
                  <P><i class="bi bi-check2-all"></i> <spab>Descontos e acréscimos no pedido;</spab></P>
                  <P><i class="bi bi-check2-all"></i> <spab>Informações dos produtos com foto.</spab></P>
                </div>
              </div>
            </div><!-- End .feature-item -->

            <!-- End .feature-item -->

          </div>
        </div>

      </div>

    </section>
    <div id="cookie-banner" class="shadow">
    <div class="container d-flex flex-column flex-md-row justify-content-between align-items-center">
      <div class="mb-2 mb-md-0">
        Utilizamos cookies para melhorar sua experiência. Ao continuar navegando, você concorda com a nossa 
        <a href="politica" target="_blank">Política de Privacidade</a>.
      </div>
      <div>
        <button id="accept-cookies" class="btn btn-primary btn-sm">Aceitar</button>
      </div>
    </div>
  </div>
  </main>

  <footer id="footer" class="footer dark-background">

    <div class="container footer-top">
      <div class="row gy-4">
        <div class="col-lg-5 col-md-12 footer-about">
          <a href="/controle" class="logo d-flex align-items-center">
            <span class="sitename">The Way Sistemas</span>
          </a>
          <p>Na The Way Sistemas, desenvolvemos soluções tecnológicas sob medida para o seu negócio. Combinamos inovação, agilidade e expertise em software para criar sistemas que automatizam processos, reduzem custos e aumentam a eficiência da sua empresa.</p>
          <div class="social-links d-flex mt-4">
            <a href=""><i class="bi bi-facebook"></i></a>
            <a href=""><i class="bi bi-instagram"></i></a>
            <a href=""><i class="bi bi-linkedin"></i></a>
          </div>
        </div>

        <div class="col-lg-2 col-6 footer-links">
          <h4>Links</h4>
          <ul>
            <li><a href="/controle">Home</a></li>
            <li><a href="segmentos">Segmentos</a></li>
            <li><a href="politica">Termos de serviços</a></li>
            <li><a href="politica">Política de privacidade</a></li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
          <h4>Contatos</h4>
          <p>R. Leão XIII, 437</p>
          <p>Juazeiro do Norte - CE, 63050-030</p>
          <p>Brasil</p>
          <p class="mt-4"><strong>Telefone:</strong> <span>+55 (88) 3571-1486</span></p>
          <p><strong>Email:</strong> <span>contato@thewaysistemas.com</span></p>
        </div>

      </div>
    </div>

    <div class="container copyright text-center mt-4">
      <p>© <span>Copyright</span> <strong class="px-1 sitename">The Way Sistemas</strong> <span>Todos os direitos reservados</span></p>
      <div class="credits">
        Designed by The Way Sistemas
      </div>
    </div>

  </footer>

  <!-- Scroll Top -->
  <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Preloader -->
  <div id="preloader"></div>

  <!-- Vendor JS Files -->
  <script src="resources/view/pages/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="resources/view/pages/assets/vendor/php-email-form/validate.js"></script>
  <script src="resources/view/pages/assets/vendor/aos/aos.js"></script>
  <script src="resources/view/pages/assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="resources/view/pages/assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="resources/view/pages/assets/vendor/swiper/swiper-bundle.min.js"></script>

  <!-- Main JS File -->
  <script src="resources/view/pages/assets/js/main.js"></script>

      


</body>

</html>